*{
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px;
  border-radius: 6%;
  border-color: grey;
  border-style: solid;
  width: 350px;
  height: 300px;
  padding: 20px;
  margin: 10px;
  color: white;
  background-color: rgb(191, 176, 192);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.synonyms {
  font-family: cursive;
  font-size: 15px;
  
}
.example{
  font-family: cursive;
  font-size: 15px;
}