*{
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  border: 0.5px;
  border-radius: 6%;
  border-color: grey;
  border-style: solid;
  width: 350px;
  height: 300px;
  padding: 20px;
  margin: 10px;
  color: rgb(64, 64, 64);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.result_word {
text-transform: capitalize;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-shadow: 3px 3px #969696;
font-size: 250%;
opacity: 0.7;
margin-top: 20px;
}
.definition{
  font-family: Garamond;
}
.header {
  text-align: center;
  font-size: 18px;
}
.example{
  font-family: cursive !important;
  font-size: 15px;
}
.synonyms {
  font-family: cursive !important;
  font-size: 15px;

}